<a href="https://colab.research.google.com/github/AndreaRojo0/Daa_2021/blob/master/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador
for entrada in range(100,1100,100):
  ejemplo2( 100)

In [19]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
for entrada in range(100,1100,100):
  ejemplo1( 100 )

total=1
total=1
total=1
total=1
total=1
total=1
total=1
total=1
total=1
total=1

In [28]:
def ejemplo3(n):
  x=n*2
  y=0
  for m in range (100):
    y=x-n
  return y
for entrada in range(100,1100,100):
  ejemplo3(100)

In [21]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z
for entrada in range(100,1100,100):
  ejemplo4(1000)

1027.8496

In [27]:
def ejemplo3( n ): # n=4
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    return y
for entrada in range(100,1100,100):
  ejemplo3(100)

In [24]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
for entrada in range(100,1100,100):
  print(ejemplo6( 100 ))

1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000

In [25]:
from time import time
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,1100,100):
  ejemplo6( 100 )

Tiempo transcurrido: 0.0990896225 segundos.
Tiempo transcurrido: 0.0929245949 segundos.
Tiempo transcurrido: 0.0905144215 segundos.
Tiempo transcurrido: 0.0992875099 segundos.
Tiempo transcurrido: 0.0931668282 segundos.
Tiempo transcurrido: 0.1021361351 segundos.
Tiempo transcurrido: 0.1021821499 segundos.
Tiempo transcurrido: 0.0997438431 segundos.
Tiempo transcurrido: 0.0928649902 segundos.
Tiempo transcurrido: 0.0942895412 segundos.